:root {
	--mainColor: black;
	--secondColor: black;

	--borderCoror: #164D56;

	--mainText: #fff;
	--secondText: #eeeeee;

	/*needs to change color in deploy*/
	--DotChangeColor: #D8BFD8;

	--Color1-2: black;

	--btnColor: black;

	--shadow-skills: black;
}