<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daniil Boika</title>
</head>
<body>
{% load static %}
<section class = 's1'>
                <div class = 'main'>

                    <div class="hello">
                        <h1>Hi, My name is Daniil Boika</h1>
                    </div>

                        <div class="intro">

                            <div class="Intro-Navigation">
                                <div class="dots">
                                    <div id='dot-1' class="browser-dot"></div>
                                    <div id='dot-2' class="browser-dot"></div>
                                    <div id='dot-3' class="browser-dot"></div>
                                </div>
                                <ul id="contacts">
                                    <li><a id = "some_cont" href="index.html#contact">Contact</a></li>
                                </ul>
                            </div>

                            <div class="Intro-Left">
                                <div id="shadow_AboutMe">
                                    <div id="About_Me">
                                        <div id = "corner_n1" class = "corner"></div>
                                        <div id = "corner_n2" class = "corner"></div>
                                        <h1>What i'm doing?</h1>
                                        <p>I'm Python developer</p>
                                        <div id = "corner_n3" class = "corner"></div>
                                        <div id = "corner_n4" class = "corner"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="Intro-Right">
                                <img id='photo' src="img/photo_3.jpg">
                                <h5 style="text-align: center;line-height: 0;">Some JS showcase</h5>
                                <div id = "JS-Theem-dots">
                                    <div data-mode = "light" id = "white-dot" class = "Js-dot"></div>
                                    <div data-mode = "red" id = "red-dot" class = "Js-dot"></div>
                                    <div data-mode = "black" id = "black-dot" class = "Js-dot"></div>
                                    <div data-mode = "blue" id = "blue-dot" class = "Js-dot"></div>
                                </div>
                            </div>
                    </div>
                </div>
        </section>
        <section class="s2">
        <div class="main">

            <div class="about-text">
                <div class="about-text-me">
                    <h4>Some Info about Me</h4>

                        <p>Building projects in Python, using different frameworks</p>

                        <p>Programming in Python for 3 years.I participated in the development of chat bots for telegrams, discord and viber. Also i was working with MongoDB. Currently focused on django and js</p>

                    <hr>

                    <h4>Skills</h4>

                    <p>Python + Django developer, primary focus on Django: <a target="_blank" href="Daniil Boika.pdf">Download Resume</a></p>

                    <div id="skills">
                        <ul>
                            <li>Python</li>
                            <li>Django</li>
                            <li>Pandas</li>
                            <li>MongoDB</li>
                            <li>SQL(Postgres, SQLlite)</li>
                        </ul>

                        <ul>
                            <li>Windows</li>
                            <li>Office365</li>
                            <li>Windows Server</li>
                            <li>Linux</li>
                        </ul>

                    </div>

                </div>

                <div class="links-to-social-media">

                    <h3>Find On Social Smth</h3>

                    <p>LinkedIn:<a target="_blank" href="https://www.linkedin.com/in/daniil-boika-993b771b6/">Linkedin_Daniil-Boika</a></p>

                    <p>GitHub:<a target="_blank" href="https://github.com/pinballtec">GitHub_pinballtec</a></p>

                    <p>Twitter:<a target="_blank" href="https://twitter.com/Daniilboiko">Twitter_DaniilBoiko</a></p>
                </div>
            </div>

        </div>
    </section>

        <section class = 's1'>
            <div class="main">
                <h3 style='text-align: center;'>Some of my projects</h3>

                <div class="post-wrapper">
                    <div>
                        <div class="post">
                                <img class = "potrfolio" src="img/scrapy.png">
                                <div class="post-prewiew">
                                    <h6 class="post-title">Web-Crawler</h6>
                                    <p class="post-intro">Web spider to parse web-pages</p>
                                    <a href="https://github.com/pinballtec/web-crawl">Learn More</a>
                                </div>
                        </div>
                    </div>


                    <div>
                        <div class="post">
                                <img class = "potrfolio" src="img/To_Do_app.png">
                                <div class="post-prewiew">
                                    <h6 class="post-title">To Do Rest-Api on Django</h6>
                                    <p class="post-intro">To-Do app using Rest Api and Django</p>
                                    <a href="https://github.com/pinballtec/ToDo-Rest">Learn More</a>
                                </div>
                        </div>
                    </div>
                        <div>
                            <div class="post">
                                <img class = "potrfolio" src="{% static 'img/bot.png' %}">
                                <div class="post-prewiew">
                                    <h6 class="post-title">Bot-moderator for Telgeram</h6>
                                    <p class="post-intro">Bot moderator, using aiogram, to moderate chats in Telegram</p>
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>

        <script type="text/javascript" src="script.js"></script>
</body>
</html>